* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #eee2dc;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #123c69;
}

.container {
  margin-top: 70px;
  margin-right: 100px;
  margin-left: 100px;
}

li {
  list-style: none;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  color: #123c69be;
  font-size: 13px;
}

/********* Nav styling **********/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #eee2dc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 5px #3d3d3d62;
  z-index: 2;
}

.navbar a {
  color: #ac3b61;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  color: #123c69;
  text-decoration: underline;
}

.navbar-header {
  display: inline-block;
  margin-left: 130px;
}

.navbar-header>.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-header img {
  width: 30px;
  height: 30px;
  display: inline-block
}

.navbar-brand>span {
  display: inline-block;
  margin: auto 2px;
}

.navbar ul {
  margin-right: 130px;
}

.navbar ul li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.navbar .user-control{
  display: flex;
  align-items: center;
}
.navbar .user-control>img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.navbar .lower-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eee2dc;
  border:2px solid #123c69;
  position: absolute;
  left: 0;
  right: 0;
  width: inherit;
  border-radius: 5px;
  visibility: hidden;
  padding: 5px 0px;
}
.navbar .user-control:hover+.lower-section{
  visibility: visible;
}
.navbar .lower-section:hover{
  visibility: visible;
}
.navbar .lower-section>a:not(:last-child){
  margin-bottom: 5px;
  border-bottom: 1px solid #123c69;
  padding-bottom: 5px;
}

/**  form styling **/

.container>.form-container {
  margin: 0 30px;
  display: flex;
  justify-content: center;
}

.form-container>.form-sub-container {
  width: 430px;
  background-color: #eee2dc;
  padding: 10px;
  border-radius: 10px;
}

.form-container form {
  padding: 40px;
}

.form-container form label {
  text-align: left;
  width: 100%;
}

.form-container h2 {
  text-align: center;
  margin: 40px 20px 0;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 500;
}

.form-container .form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-container .fa {
  position: absolute;
  z-index: 2;
  bottom: 12px;
  margin-top: -9px;
  left: 14px;
  width: 18px;
  height: 18px;
  color: #ac3b61;
}

.form-container .form-input {
  display: block;
  width: 100%;
  outline: none;
  height: 40px;
  border: 1px solid #123c69be;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 45px;
  transition: 0.5s;
}

.form-container .form-input:focus {
  border: 1px solid #ac3b61;
}

.form-container .form-input:hover {
  box-shadow: 1.5px 1.5px 3px #a5a5a5b6, -1.5px -1.5px 3px #a5a5a5b6;
}

.form-container button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #eee2dc;
  border: 1px solid #ac3b61;
  color: #ac3b61;
  transition: 0.4s ease;
}

.form-container button:hover {
  border: none;
  background-color: #ac3b61;
  color: #eee2dc;
}

.form-container .bottom p {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .bottom a {
  color: #ac3b61;
}

/**** Homepage Styling with message of without message ****/

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  background-size: cover;
  display: flex;
  color: #123c69;
  text-shadow: 0 0 2px black;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 25px;
}

.home-hero a {
  border: 0.1rem solid #123c69;
  color: #123c69;
  font-size: 1rem;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  text-decoration: none;
  margin-top: 10px;
}

.home-hero a:hover {
  background: #123c69;
  color: #eee2dc;
  padding: 0.5rem 2.5rem;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(http://i.imgur.com/K3mPv14.jpg)
}

.slideshow li:nth-child(2) {
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s;
}

.slideshow li:nth-child(3) {
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s;
}

.slideshow li:nth-child(4) {
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s;
}

.slideshow li:nth-child(5) {
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 0.5;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 0.5
  }
  30% {
    opacity: 0
  }
}

/****** blog home page *******/

.homepage-blog-container{
  margin: 0px auto;
  max-width: 700px;
}

.homepage-blog-container .list-item{
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 1.5px 1.5px 3px #3f3f3fab, -1.5px -1.5px 3px #ffffff;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}
.homepage-blog-container .list-item:hover{
  box-shadow: 5px 5px 10px #3f3f3fab, -5px -5px 10px #ffffff;
}
.homepage-blog-container .blog-area{
  margin-right: 30px;
}
.homepage-blog-container .blog-area>h3{
  margin-bottom: 8px;
  font-size: 1.3em;
}
.homepage-blog-container .blog-area>p{
  margin-bottom: 8px;
  font-size: 1em;
  color: #123c69c5;
}
.homepage-blog-container .blog-area>div{
  display: flex;
  flex-direction: column;
}
.homepage-blog-container .blog-area .date-text{
  font-size: 0.8em;
  color: #123c69bb;
}

.homepage-blog-container .blog-area .user-hover-info{
  background-color: #eee2dc;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #123c69;
}
.homepage-blog-container .user-info>div>div{
  display: inline-block;
  margin-bottom: 3px;
}
.homepage-blog-container .user-info>div>div:hover{
  text-decoration: underline;
}
.homepage-blog-container .blog-area .user-hover-info>img{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}


/*** message-form-design **/

.message-form-container {
    display: flex;
    justify-content: center;
}

.message-form {
  width: 500px;
}

.message-form>.form-input{
  display: block;
  width: 100%;
  outline: none;
  height: 80vh;
  border: 1px solid #123c69be;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  transition: 0.5s;
  font-size: 20px;
  color: #123c69;
  background-color: #eee2dc;
}

.message-form>.form-input::placeholder{
  font-size: 15px;
  color: #9e9e9e;
}

.message-form .form-input:focus {
  border: 1px solid #ac3b61;
}

.message-form .form-input:hover {
  box-shadow: 1.5px 1.5px 3px #a5a5a5b6, -1.5px -1.5px 3px #a5a5a5b6;
}

.message-form> button {
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #eee2dc;
  background-color: #ac3b61;
  color: #eee2dc;
  transition: 0.4s ease;
  padding: 0 10px;
  margin-top: 10px;
}

.message-form> button:hover {
  background-color: #eee2dc;
  border: 1px solid #ac3b61;
  color: #ac3b61;
}



/*================= Blog Layout ===================*/

.blog-container{
  margin:0 190px;
  padding:30px;
}

.bloginfo-container{
  border-bottom: 1px solid #123c6954;
  padding-bottom: 20px;
}

.blog-user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog-user-info>.u-i{
  display: flex;
}

.blog-user-info>.u-i>img{
  display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.blog-user-info>.u-i>.username{
  margin-left: 15px;
}

.btn{
  padding: 6px 15px;
  background-color: #eee2dc;
  border: 1px solid #ac3b61;
  color: #ac3b61;
  border-radius: 3px;
  transition: 0.5s all ease;
}

.btn:hover{
  color: #eee2dc;
  background-color: #ac3b61;
}

.blog-layout {
  margin-top: 50px;
  font-size: 1.2em;
}
.blog-layout h1{
  margin-bottom: 50px;
}
.blog-layout h2,.blog-layout h3{
  margin-bottom: 10px;
}
.blog-layout ul,ol{
  margin-bottom: 40px;
}

.blog-layout img{
  width: 100%;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.blog-layout p{
  margin:10px 0;
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #123c69c9;
}


.blog-layout li{
  list-style: disc;
  margin-left: 40px;
  margin-bottom: 10px;
  color: #123c69d3;
}
.blog-layout ol li{
  list-style: decimal;
}

.blog-controls{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding:0px 30px;
}
.blog-controls i{
  width: 24px;
  height: 24px;
  font-size: 1.5em;
  margin-right: 5px;
}
.blog-controls .icon{
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #123c6980;
  transition: 0.4s;
}

.blog-controls .icon:hover{
  color: #123c69;
}

/*--------------------------*/

.response-container{
  margin-top: 30px;
}
.response-container>.header{
  font-size: 1.3em;
}
.response-input{
  margin-top: 20px;
  box-shadow: 1.5px 1.5px 3px #a5a5a5b6, -1.5px -1.5px 3px #a5a5a5b6;
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 60px;
}
.response-input>form{
  display: flex;
  align-items: center;
}
.response-input img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}
.response-input>form input {
  width: 100%;
  border: none;
  background-color: #eee2dc;
  height: 100%;
  color: #123c69dc;
  font-size: 1.2em;
  padding-right: 20px;

}

.response-list{
  margin-top: 30px;
}
.response-list li{
  margin-top: 30px;
}

.response-list .user{
  display: flex;
  align-items: center;
}

.response-list .user img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}

.response-list .user span{
  color: #123c69c5;
  font-size: 0.8em;
}

.response-list .text{
  margin-top: 10px;
  padding: 10px 68px;
  color: #123c69e8;
  box-shadow: 1px 1px 3px #a5a5a5b6, -1px -1px 3px #a5a5a5b6;
  border-radius: 5px;
}
/*--------------------*/









